@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.intro-text {
    background-color: #c5965d;
    color: rgb(22, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;

}

.intro-text_textbox h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed; 
    background-image: url(../img/img1.jpeg);
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image_link a {
    background-color: #47342d9f;
    border: 2px solid #47342dd3;
    color: #e7e1df;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out; 
}

.quality-image_link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #36261f;
    color: rgb(226, 207, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}



.origin-image {
    background-attachment: fixed;
    background-image: url("../img/img2.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image_link a {
    background-color: #3f1f0a81;
    border: 2px solid #3f1f0ade;
    color: #fdf8f6;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image_link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #8fc7d198;
    color: rgb(73, 37, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: rgb(223, 201, 173);
    color: rgb(46, 35, 22);
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color:rgb(46, 35, 22) ;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.5);
}